/* Imports */

@import url('./fonts.css');

/* Global styles */

html,
body {
  margin: 0;
  background-color: #F3EBF6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Ubuntu-Regular';
  position: relative;
  box-sizing: border-box;
}

/* Container */

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  padding: 30px 30px 15px;
  border-radius: 25px;
  background-color: #FFFFFF;
  box-shadow: 3px 10px 35px 1px rgb(0, 0, 0, .15);
  box-sizing: border-box;
}

/* Header */
.header {
  color: #8C55AA;
  text-align: center;
  font-size: 170%;
  margin-bottom: 50px;
}

/* Form */

.login-form {
  text-align: center;
}

/* Forgot password */
.forgot-password {
  color: #E1BEE7;
  text-align: center;
  font-size: 105%;
  margin-top: 30px;
}
